:host {
  display: block;
}

button {
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  height: 38px;
  padding: 0 12px;
}

button.primary {
  background: skyblue;
}

button.primary:hover {
  background: mediumturquoise;
}

button.secondary {
  background: mediumslateblue;
}

button.secondary:hover {
  background: slateblue;
}

button.tertiary {
  background: mediumspringgreen;
}

button.tertiary:hover {
  background: mediumseagreen;
}
