:host {
  display: block;
}

button {
  background: var(--color-light);
  border: none;
  color: var(--color-dark);
  cursor: pointer;
  font-weight: 700;
  height: 38px;
  padding: 0 var(--space-md);
  opacity: 0.9;
  transition: all 150ms ease-in-out;
}

button:hover {
  opacity: 1;
}

button.primary {
  background: var(--color-primary);
}

button.secondary {
  background: var(--color-secondary);
}

button.tertiary {
  background: var(--color-tertiary);
}
